# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Ignoro el archivo de entorno para no mostrar las credenciales en el repositorio
.env

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Otros directorios a ignorar por si el día de mañana agrego algo de esto
coverage/

.firebaserc
firebase-debug.log