// Lista de colores (hay que importarla en cada componente usando @use + ruta + as *)

$color-negro: #0d0d0d;
$color-negro-claro: #1a1a1a;
$color-blanco: #f5f5f5;
$color-gris: #bbbbbb;
$color-TDE: #222831;
$color-hover-texto: #00ff99;
$color-verde-servicio: #218838;
$color-azul-claro: #2575FC;
$color-azul-oscuro: #0350d2;