@use './variables' as *;

.botonCV {
  display: inline-block;
  margin-top: 1.5rem;
  background: $color-azul-claro;
  color: $color-blanco;
  font-weight: 700;
  padding: 0.8rem 2.2rem;
  border: none;
  border-radius: 8px;
  font-size: 1.1rem;
  text-decoration: none;
  cursor: pointer;
  transition: background 0.2s;

  &:hover {
    background: $color-azul-oscuro;
  }
}